@charset "utf-8";
/* div.sdmenu */
body{ margin-top: 0px; margin-left:0px;}
div.sdmenu{float:left;width:194px;font-size:14px;font-weight:bold;color:#ad8634;text-align:center}
div.sdmenu div{background:url(../images/del_tit.jpg) no-repeat;overflow:hidden;}
div.sdmenu div.collapsed{height:32px;}
div.sdmenu div span{display:block;line-height:32px;width:194px;font-weight:bold;color:#333;cursor:pointer;margin-left:10px;}
div.sdmenu div span a{padding:0;background:none;border:0;font-size:14px;line-height:32px;display:block;}
div.sdmenu div.collapsed{background-image:url(../images/plus_bg.jpg);background-repeat:no-repeat;width:194px;color:#000}
div.sdmenu div.collapsed span{color:#333;line-height:32px;}
div.sdmenu div.collapsed span a.current{color:#ad8634;}
div.sdmenu div a{padding-left:47px;display:block;border-bottom:none;color:#666;font-size:13px;background:#fff url(../images/menu_sub_icon.gif) no-repeat 27px 7px;line-height:28px;text-decoration:none}
div.sdmenu div a.current{background:url(../images/linkarrow.gif) no-repeat  27px 7px #f8ec94; color:#ad8634}
div.sdmenu div span a.current{background:none;color:#fff}
div.sdmenu div a:hover{background:url(../images/menu_sub_icon.gif) no-repeat  27px 7px #fff;text-decoration:none;}
div.sdmenu div span a:hover{background:none;}